<nav class="sidebar">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
<!--         <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }} -->
<!--         </a> -->
<!--         <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }} -->
<!--         </a> -->
<!--         <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }} -->
<!--         </a> -->
<!--         <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }} -->
<!--         </a> -->
<!--         <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }} -->
<!--         </a> -->
<!--         <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item"> -->
<!--             <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }} -->
<!--         </a> -->
        <div class="nested-menu" [class.expand]="showMenu === 'systems'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('systems')">
                <span><i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Sistema' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'systems'" >
                    <li>
                        <a [routerLink]="['/system/register']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/system/consult']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" [class.expand]="showMenu === 'strategy'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('strategy')">
                <span><i class="fa fa-fw fa-cogs"></i>&nbsp;{{ 'Estratégia' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'strategy'" >
                    <li>
                        <a [routerLink]="['/strategy/register']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/strategy/consult']" [routerLinkActive]="['router-link-active']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" [class.expand]="showMenu === 'action'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('action')">
                <span><i class="fa fa-fw fa-play-circle"></i>&nbsp;{{ 'Ação' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'action'" >
                    <li>
                        <a [routerLink]="['/action/register']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="['/action/consult']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" [class.expand]="showMenu === 'screen'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('screen')">
                <span><i class="fa fa-fw fa-wpforms"></i>&nbsp;{{ 'Tela' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'screen'" >
                    <li>
                        <a [routerLink]="['/screen/register']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="['/screen/consult']" class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" [class.expand]="showMenu === 'test-scenario'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('test-scenario')">
                <span><i class="fa fa-fw fa-cube"></i>&nbsp;{{ 'Cenário de Teste' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu"  [@slideInSubmenu]="showMenu === 'test-scenario'" >
                    <li>
                        <a class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" [class.expand]="showMenu === 'test-suites'">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('test-suites')">
                <span><i class="fa fa-fw fa-cubes"></i>&nbsp;{{ 'Suíte de Testes' | translate }}</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <li class="nested">
                <ul class="submenu" [@slideInSubmenu]="showMenu === 'test-suites'" >
                    <li>
                        <a class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-plus"></i>&nbsp;{{ 'Cadastrar' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" href="javascript:void(0)">
                        	<span><i class="fa fa-search"></i>&nbsp;{{ 'Consultar' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
<!--         <a [routerLink]="['/blank-page']" routerLinkActive="active" class="list-group-item"> -->
<!--             <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }} -->
<!--         </a> -->
<!--         <a class="list-group-item more-themes" href="http://www.strapui.com/" > -->
<!--             {{ 'More Theme' | translate }} -->
<!--         </a> -->
        <div class="nested-menu header-fields">
            <a class="list-group-parent list-group-item" (click)="addExpandClass('profile')">
                <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                <i class="fa fa-fw fa-angle-down menuitem-toggle-icon"></i>
            </a>
            <div class="nested-menu" [class.expand]="showMenu === 'profile'">
                <li class="nested">
                    <ul class="submenu" [@slideInSubmenu]="showMenu === 'profile'" >
                        <li>
                            <a class="list-group-item"  href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item" [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
