<div class="login-page">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-6 mx-auto">
						<div class="card rounded-3 card-login-form">
							<img class="card-img-top" src="assets/images/login-header.jpg" alt="login-header-img">
							<div class="card-body bg-faded">
								<h4 class="card-title">WTM - Identificação do Usuário</h4>
								<h6 class="card-subtitle mb-2 text-muted">Acesso Restrito</h6>
								<form [formGroup]="loginForm" (ngSubmit)="login()" class="p-3" novalidate>
									<div class="form-row form-group col-auto">
										<label for="username" class="col-md-4 col-form-label"><strong>Username</strong></label>
										<div class="col-md-8">
											<input id="username" type="text" class="form-control" formControlName="username" required />
										</div>
									</div>
									<div class="form-row form-group col-auto">
										<label for="password" class="col-md-4 col-form-label"><strong>Password</strong></label>
										<div class="col-md-8">
											<input id="password" type="password" class="form-control" formControlName="password" required />
										</div>
									</div>
									<div *ngIf="password.invalid" class="text-center mb-3">
										<div *ngIf="password.errors.minlength">Password deve conter pelo menos 8 caracteres.</div>
									</div>
									<footer>
										<button pButton type="submit" class="ui-button-success float-right"  label="Login" [disabled]="!loginForm.valid"></button>
									</footer>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--/row-->
			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
</div>
<!-- /page -->
