<div [@routerTransition]>
    <app-breadcrumb *ngIf="!entityEdit" [heads]="['Tela','Cadastrar']" [icon]="['fa-wpforms','fa-plus']"></app-breadcrumb>
    <app-breadcrumb *ngIf="entityEdit" [heads]="['Tela','Editar']" [icon]="['fa-wpforms','fa-edit']"></app-breadcrumb>
    <div class="form-container">
    	<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
    		<div  class="form-row form-group col-auto">
	    		<label for="name" class="col-md-2 col-form-label required"><strong>Nome</strong></label>
				<div class="col-md-4">
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name" />
				</div>
				<label for="system" class="col-md-2 col-form-label required"><strong>Sistema</strong></label>
				<div class="col-md-4 ui-fluid">
					<p-autoComplete id="system" [ngClass]="validateFormService.displayFieldCss('system')" formControlName="system" [suggestions]="filteredSystems" (onClear)="clearAutoComplete($event)" (completeMethod)="filterSystems($event)" [size]="30"
					    [minLength]="1" placeholder="Selecione" field="name" [dropdown]="true" [forceSelection]="true">
					</p-autoComplete>
				</div>
    		</div>
    		<div class="form-row form-group col-auto">
    			<label for="pathUrl" class="col-md-2 col-form-label required"><strong>Path URL</strong></label>
				<div class="col-md-4">
					<input id="pathUrl" [ngClass]="validateFormService.displayFieldCss('pathUrl')" pInputText type="text" class="form-control" formControlName="pathUrl" />
				</div>
    			<label for="dependsOnLogin" class="col-md-2 col-form-label"><strong>Depende de Login</strong></label>
    			<div class="col-md-1">
	    			<p-checkbox id="dependsOnLogin" binary="true" formControlName="dependsOnLogin"></p-checkbox>
    			</div>
    			<label for="isLoginScreen" class="col-md-2 col-form-label"><strong>Tela de Login</strong></label>
    			<div class="col-md-1">
	    			<p-checkbox id="isLoginScreen" binary="true" formControlName="isLoginScreen" (onChange)="onChangeIsLoginScreen($event)"></p-checkbox>
    			</div>
    		</div>
    		<div class="form-row form-group col-auto">
    			<label for="description" class="col-md-2 col-form-label"><strong>Descrição</strong></label>
				<div class="col-md-10">
					<input id="description" [ngClass]="validateFormService.displayFieldCss('description')" pInputText type="text" class="form-control" formControlName="description" />
				</div>
    		</div>
    		<div class="col-auto">
	    		<p-accordion [multiple]="true">
	    			<div class="form-group">
					    <p-accordionTab header="Atributos para Teste de Campos" [selected]="true">
					        <div class="form-row form-group col-auto">
				    			<label for="testUrl" class="col-md-2 col-form-label required"><strong>URL de Teste</strong></label>
								<div class="col-md-10">
									<input id="testUrl" [ngClass]="validateFormService.displayFieldCss('testUrl')" pInputText type="text" class="form-control" formControlName="testUrl" />
								</div>
							</div>
					    </p-accordionTab>
	    			</div>
	    			<div class="form-group">
					    <p-accordionTab header="Informações da Tela" [selected]="true">
						    <div class="form-group" formArrayName="groupScreenFields" *ngFor="let groupScreen of registerForm.get('groupScreenFields')['controls']; let i = index;">
						    	<div [formGroupName]="i">
							    	<p-panel>
									    <p-header>
		    								<div class="form-row">
		    									<div class="col-md-11" >
			   										<p-inplace closable="closable">
													    <span pInplaceDisplay>
													        {{ groupScreen.controls.groupName.value }}
													    </span>
													    <span pInplaceContent>
													        <input type="text" pInputText formControlName="groupName">
													    </span>
													</p-inplace>
		    									</div>
		    									<div class="col-md-1 text-right">
										            <button pButton type="button" icon="fa-plus" (click)="addscreenField(i)"></button>									
		    									</div>
		<!-- 							            <span class="ui-panel-title" style="display:inline-block;margin-top:6px">Grupo Padrão</span> -->
								            </div>
									    </p-header>
									    
									   <p-table [columns]="cols" [autoLayout]="false" [value]="groupScreen.get( 'screenFields' )[ 'controls' ]" formArrayName="screenFields">
										    <ng-template pTemplate="header"  let-columns>
										        <tr>
										        	<th style="width:10%">
										        		Opções
										        	</th>
										            <th *ngFor="let col of cols">
										                {{col.header}}
										            </th>
										        </tr>
										    </ng-template>
										    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
										        <tr [formGroupName]="rowIndex">
									        		<td class="text-center">
									        			<button pButton type="button" icon="fa-check"></button>									
										           		<button pButton type="button" icon="fa-minus" class="ui-button-danger" (click)="removeScreenField(i, rowIndex)"></button>									
										        	</td>
				    								<td pEditableColumn>
										                <p-cellEditor>
										                    <ng-template pTemplate="input">
										                        <input type="text" formControlName="description">
										                    </ng-template>
										                    <ng-template pTemplate="output">
										                        {{rowData.controls.description.value}}
										                    </ng-template>
										                </p-cellEditor>
										            </td>
										            <td pEditableColumn>
										                <p-cellEditor>
										                    <ng-template pTemplate="input">
										                    	<div class="ui-fluid">
																	<p-autoComplete formControlName="strategy" [suggestions]="filteredStrategies" (onClear)="clearAutoCompleteStrategy($event)" (completeMethod)="filterStrategies($event)" [size]="30"
																	    [minLength]="1" placeholder="Selecione" field="name" [dropdown]="true" [forceSelection]="true">
																	</p-autoComplete>
																</div>
<!-- 										                        <input type="text" formControlName="strategy"> -->
										                    </ng-template>
										                    <ng-template pTemplate="output">
										                        {{rowData.controls.strategy.value? rowData.controls.strategy.value.name : '' }}
										                    </ng-template>
										                </p-cellEditor>
										            </td>
										            <td pEditableColumn>
										                <p-cellEditor>
										                    <ng-template pTemplate="input">
										                        <input type="text" formControlName="valueForStrategy">
										                    </ng-template>
										                    <ng-template pTemplate="output">
										                        {{rowData.controls.valueForStrategy.value}}
										                    </ng-template>
										                </p-cellEditor>
										            </td>
										        </tr>
										    </ng-template>
										</p-table>
									    
									    <p-footer *ngIf="(i + 1) == registerForm.get('groupScreenFields')['controls'].length">
									        <button pButton type="button" icon="fa-plus" label="Novo Grupo" class="ui-button-info" (click)="addGroupScreen()"></button>
									    </p-footer>
									    <p-footer *ngIf="registerForm.get('groupScreenFields')['controls'].length > 1 && i > 0">
									        <button pButton type="button" icon="fa-close" label="Remover Grupo" class="ui-button-danger" (click)="removeGroupScreen(i)"></button>
									    </p-footer>
									</p-panel>
								</div>
							</div>
					    </p-accordionTab>
					</div>
				</p-accordion>
			</div>	
    		<div class="text-center">
    			<button pButton type="submit" class="ui-button-success"  label="Cadastrar"></button>
    			<button pButton type="button" class="ui-button-secondary"  label="Limpar" (click) = "validateFormService.clear()"></button>
    		</div>
    	</form>
    </div>
</div>