<div [@routerTransition]>
    <app-breadcrumb *ngIf="!entityEdit" [heads]="['Ação','Cadastrar']" [icon]="['fa-play-circle','fa-plus']"></app-breadcrumb>
    <app-breadcrumb *ngIf="entityEdit" [heads]="['Ação','Editar']" [icon]="['fa-play-circle','fa-edit']"></app-breadcrumb>
    <div class="form-container">
    	<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
    		<div  class="form-row form-group col-auto">
	    		<label for="name" class="col-md-2 col-form-label required"><strong>Nome</strong></label>
				<div class="col-md-4">
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name" />
				</div>
				<label for="system" class="col-md-2 col-form-label" [ngClass]="{required : !registerForm.get('actionDefault').value}" ><strong>Sistema</strong></label>
				<div class="col-md-4 ui-fluid">
					<p-autoComplete id="system" [ngClass]="validateFormService.displayFieldCss('system')" formControlName="system" [suggestions]="filteredSystems" (onClear)="clearAutoComplete($event)" (completeMethod)="filterSystems($event)" [size]="30"
					    [minLength]="1" placeholder="Selecione" field="name" [dropdown]="true" [forceSelection]="true">
					</p-autoComplete>
				</div>
    		</div>
    		<div class="form-row form-group col-auto">
    			<label for="actionDefault" class="col-md-2 col-form-label"><strong>Ação Padrão</strong></label>
    			<div class="col-md-10">
	    			<p-checkbox id="actionDefault" binary="true" formControlName="actionDefault" (onChange)="onChangeAction($event)"></p-checkbox>
    			</div>
    		</div>
    		<div class="form-row form-group col-auto">
    			<label for="codeGroovy" class="col-md-2 col-form-label required"><strong>Código</strong></label>
    			<div class="col-md-10">
	    			<ngx-monaco-editor id="codeGroovy" class="code-editor" [options]="editorOptions" [ngClass]="validateFormService.displayFieldCss('codeGroovy')"  formControlName="codeGroovy"></ngx-monaco-editor>
    			</div>
    		</div>
    		<div class="form-row form-group col-auto">
    		</div>
    		<div class="text-center">
    			<button pButton type="submit" class="ui-button-primary"  label="Compilar"></button>
    			<button pButton type="submit" class="ui-button-success"  label="Cadastrar"></button>
    			<button pButton type="button" class="ui-button-secondary"  label="Limpar" (click) = "validateFormService.clear()"></button>
    		</div>
    	</form>
    </div>
</div>