<div [@routerTransition]>
		<p-confirmDialog acceptButtonStyleClass="ui-button-success" rejectButtonStyleClass="ui-button-danger" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
		<p-tabView [controlClose]="true" (onClose)="handleClose($event)" (onChange)="handleChange($event)">
		    <p-tabPanel header="Consultar Sistema" [selected]="index == 0">
		        <app-breadcrumb [heads]="['Sistema','Consultar']" [icon]="['fa-desktop','fa-search']"></app-breadcrumb>
		        <div class="form-container">
			    	<form [formGroup]="consultForm" (ngSubmit)="onSubmit(consultForm.value)" novalidate>
			    		<div class="form-row form-group col-auto">
			    			<label for="name" class="col-md-2 col-form-label"><strong>Nome</strong></label>
							<div class="col-md-10">
								<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name" />
							</div>
			    		</div>
			    		<div class="form-group col-auto text-center">
			    			<button pButton type="submit" class="ui-button-success"  label="Consultar"></button>
			    			<button pButton type="button" class="ui-button-secondary"  label="Limpar" (click) = "validateFormService.clear()"></button>
			    		</div>
			    	</form>
		    		<p-table [columns]="cols" [value]="systems" [paginator]="true" [rows]="10" [loading]="loading" [autoLayout]="true">
		    			<ng-template pTemplate="caption">
					        Resultados
					    </ng-template>
					    <ng-template pTemplate="header" let-columns>
					        <tr>
					        	<th>Opções</th>
					            <th *ngFor="let col of columns">
					                {{col.header}}
					            </th>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="body" let-system let-columns="columns">
					        <tr>
					        	<td style="text-align:center">
					        		<button (click)="edit(system)" type="button" pButton icon="fa-edit"  class="ui-button-info" pTooltip="Editar" tooltipPosition="bottom" showDelay="1000"></button>
					        		<button (click)="remove(system)" type="button" pButton icon="fa-trash"  class="ui-button-danger" pTooltip="Excluir" tooltipPosition="bottom" showDelay="1000"></button>
					        	</td>
					            <td *ngFor="let col of columns">
					                    {{system[col.field]}}
					            </td>
					        </tr>
					    </ng-template>
					    <ng-template pTemplate="emptymessage" let-columns>
					        <tr>
					            <td [attr.colspan]="columns.length+1">
					                Nenhum registro encontrado.
					            </td>
					        </tr>
					    </ng-template>
					</p-table>
   				 </div>
		    </p-tabPanel>
		    <p-tabPanel *ngIf="index == 1 || editTab" header="Editar Sistema" [closable]="true" [cache]="false" [selected]="index == 1">
		        <ng-template pTemplate="content">
		            <app-register-system [systemEdit]="systemEditSelected" (editMessageEvent)="receiveEditMessage($event)"></app-register-system>
		        </ng-template>
		    </p-tabPanel>
		    <p-tabPanel *ngIf="index == 2" header="Visualizar Sistema" [closable]="true" [selected]="index == 2">
		        <ng-template pTemplate="content">
		            //TODO
		        </ng-template>
		    </p-tabPanel>
		</p-tabView>
</div>