<div [@routerTransition]>
    <app-breadcrumb *ngIf="!systemEdit" [heads]="['Sistema','Cadastrar']" [icon]="['fa-desktop','fa-plus']"></app-breadcrumb>
    <app-breadcrumb *ngIf="systemEdit" [heads]="['Sistema','Editar']" [icon]="['fa-desktop','fa-edit']"></app-breadcrumb>
    <div class="form-container">
    	<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)" novalidate>
    		<div  class="form-row form-group col-auto">
	    		<label for="name" class="col-md-2 col-form-label required"><strong>Nome</strong></label>
				<div class="col-md-4">
					<input id="name" [ngClass]="validateFormService.displayFieldCss('name')" pInputText type="text" class="form-control" formControlName="name" />
				</div>
				<label for="strategy" class="col-md-3 col-form-label"><strong>Estratégia Padrão de Captura</strong></label>
				<div class="col-md-3 ui-fluid">
					<p-autoComplete id="strategy" [ngClass]="validateFormService.displayFieldCss('strategy')" formControlName="strategy" [suggestions]="filteredStrategies" (onClear)="clearAutoComplete($event)" (completeMethod)="filterStrategies($event)" [size]="30"
					    [minLength]="1" placeholder="Selecione" [dropdown]="true" [forceSelection]="true">
					</p-autoComplete>
				</div>
    		</div>
    		<div class="form-row form-group col-auto">
				<label for="description" class="col-md-2 col-form-label required"><strong>Descrição</strong></label>
				<div class="col-md-10">
					<input id="description" [ngClass]="validateFormService.displayFieldCss('description')" pInputText type="text" class="form-control" formControlName="description"/>
				</div>
    		</div>
    		<div class="text-center">
    			<button pButton type="submit" class="ui-button-success"  label="Cadastrar"></button>
    			<button pButton type="button" class="ui-button-secondary"  label="Limpar" (click) = "validateFormService.clear()"></button>
    		</div>
    	</form>
    </div>
</div>