/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import '~open-iconic/font/css/open-iconic-bootstrap';

@import "./sass/spinner";
@import "./sass/utils";
@import "./sass/responsive";
@import "./sass/variables";
@import "./sass/mixins";

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #292B2C;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	min-height: 100%;
	background-color: #EEF2F6;
	a {
		text-decoration: none;
	}
	.layout-mask {
	    display: none;
	}
	.layout-mask {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    background-color: #424242;
	    opacity: 0.7;
	    top: 0;
	    left: 0;
	    z-index: 1;
	}
	&.sidebar-inactive .layout-mask {
	    display: block;
	}
}

@media screen and (min-width: 992px) {
	body {
		.layout-mask {
	    	display: none;
		}
		&.sidebar-inactive .layout-mask {
		    display: none;
		}
	}
}


.form-control:focus {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.breadcrumb {
	background-color: white;
	margin-bottom: 0.5rem;
}

.form-container {
	@extend .card;
	@extend .p-3;
	border: 0;
	min-height: 500px;
}

.ui-autocomplete-dropdown {
	&.ui-button {
		height: 32.5px !important;	
	}
}

.col-form-label.required:after { 
  color: #d00;
  content: "*";
  margin-left: 5px;
  top:7px;
}

.ui-tabview-selected {
	background-color: $topnav-background-color !important;
	border-color: $topnav-background-color !important;
}

/* Widget */
.ui-widget-header {
	background: #f6f7f9 0 0 repeat-x !important;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%)
		!important;
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f7f9),
		color-stop(100%, #ebedf0)) !important;
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%) !important;
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%) !important;
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%) !important;
	/* IE10+ */
	background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%) !important;
	/* W3C */
}

.ui-widget-content {
	border: 1px solid #D5D5D5;
	background: #ffffff;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #d9d9d9;
	background: #f6f7f9;
	color: #1b1d1f;
	font-weight: normal;
}

.ui-widget-header a {
	color: #1b1d1f;
}

.ui-widget-overlay {
	background: #666666;
	opacity: .50;
	filter: Alpha(Opacity = 50);
}

.ui-state-default {
	border: 1px solid #d6d6d6;
	background: #ffffff;
	color: #555555;
}

.ui-state-default a {
	color: #555555;
}

.ui-state-active {
	border-color: #bebebe;
	background: #d6d6d6;
	color: #212121;
}

.ui-state-active a {
	color: #212121;
}

.ui-state-highlight {
	border-color: #156090;
	background: $topnav-background-color;
	color: #FFFFFF;
}

.ui-state-highlight a {
	color: #FFFFFF;
}

.ui-state-focus {
	border-color: #c0c0c0;
	background: #eeeeee;
	color: #212121;
}

.ui-state-focus a {
	color: #212121;
}

.ui-state-error {
	border-color: #f44336;
	background: #f5554a;
	color: #cd0a0a;
}

.ui-state-error a {
	color: #cd0a0a;
}

.ui-state-disabled, .ui-widget:disabled {
	opacity: 0.35;
	filter: Alpha(Opacity = 35);
	background-image: none;
	cursor: default !important;
}

.ui-state-disabled *, .ui-widget:disabled * {
	cursor: default !important;
}


/* TurboTable */
.ui-table {
    .ui-table-thead > tr > th,
    .ui-table-tfoot > tr > td {
        background: $headerBgColor;
        border: 1px solid $headerBorderColor;
        color: $headerTextColor;
    }

    .ui-table-tbody > tr {
        background: $contentBgColor;
        color: $contentTextColor;

        > td {
            border: 1px solid $contentBorderColor;
            background: inherit;
        }

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }

    .ui-sortable-column {
        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &:not(.ui-state-highlight):hover {
            background: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }

    &.ui-table-hoverable-rows {
        .ui-table-tbody > tr:not(.ui-state-highlight):hover {
            cursor: pointer;
            background: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

@media ( max-width: 35em ) {
    .ui-table-responsive .ui-table-tbody > tr {
        border-top: 1px solid $contentBorderColor;
        border-bottom: 1px solid $contentBorderColor;
    }
}

/* Tabview */
.ui-tabview {
    &.ui-widget-content {
        border: 0 none !important;
    }
    
    .ui-tabview-nav {
        background: transparent !important;
        
        > li {
                        
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background: #ededf0 !important;
            }
         }
    }
}

/* TurboTable */
.ui-paginator {
	margin: 0 !important;
    text-align: center !important;
    padding: .125em !important;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-prev{
	display: inline-block !important;
    padding: .125em .375em !important;
    zoom: 1 !important;
    margin-left: .073em !important;
    margin-right: .073em !important;
    text-decoration: none !important;
    vertical-align: middle !important;
}

.ui-paginator .ui-corner-all {
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
}

.ui-paginator a:not(.ui-state-disabled):not(.ui-state-active):hover {
    @include hover-element();
}

.ui-paginator a {
    color: $stateDefaultTextColor;
}
.ui-paginator .ui-paginator-page.ui-state-active {
	background: $topnav-background-color;
	color: #ffffff;
	border-color: #156090;
}

.ui-table {
    .ui-table-thead > tr > th,
    .ui-table-tfoot > tr > td {
        background: #ebedf0;
        border-color: #d9d9d9;
    }

    .ui-sortable-column:not(.ui-state-highlight):hover {
        background: #d3d5d8;
        border-color: #d9d9d9;
    }

    .ui-table-tbody > tr:nth-child(even) {
        background-color: #fafafb;

        &.ui-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ui-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }
}

.ui-table-caption {
    border-bottom: 0 none !important;
	border-radius: 0.25rem 0.25rem 0 0 !important;
}

.ui-table .ui-paginator-bottom {
	border-radius: 0 0 0.25rem 0.25rem !important;
}

.ui-table-loading {
	border-radius: 0.25rem !important;
}

.ui-tabview-nav {
	border-radius: 0.25rem 0.25rem 0 0 !important;
	background: #ffffff !important;
}

.ui-chkbox {
	margin-top: .5em;
}

.ui-accordion {
    .ui-accordion-header {
        background: $headerBgColor !important;
    	border-top: 1px solid $headerBorderColor !important;
        
        a {
        	font-weight: bold;
            color: $headerTextColor !important;
            text-decoration: none !important;
        }
        
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
            background: #ededf0 !important;
        }
        
        &.ui-state-active {
            background: #ffffff !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            -webkit-border-radius: 0 !important;
            -moz-border-radius: 0 !important;
            border-radius: 0 !important;
        }
    }
    
     .ui-accordion-content {
         border: 0 none !important;
     }
}

.ui-accordion .ui-accordion-header {
  background: #f6f7f9 !important;
  border-top: 1px solid #d9d9d9 !important; }
  .ui-accordion .ui-accordion-header a {
    color: #1b1d1f !important; }
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
    background: #ededf0 !important; }
  .ui-accordion .ui-accordion-header.ui-state-active {
    background: #ffffff !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; }
.ui-accordion .ui-accordion-content {
  border: 0 none !important; }
  
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: #c0c0c0 !important;
  background: #eeeeee !important;
  color: #212121 !important; }
  .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a {
    color: #212121 !important; }

.ui-inplace .ui-inplace-display {
	display: block !important;
	margin-top: 3px !important;	
}

.ui-inplace .ui-inplace-content > span > input {
	width: 96% !important;
}